body { 
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background:  linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #0f2027);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  overflow-x: hidden;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.blob {
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #00ffff, #0066ff);
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.6;
  z-index: -1;
  animation: float 10s ease-in-out infinite alternate;
}

@keyframes float {
  from {transform: translate(0, 0);}
  to {transform: translate(50px, -50px);}
}

#particles-js {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

  #resume img {
  max-width: 100%;      
  border-radius: 10px;   
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: block;         
  margin: 20px auto;    
}

