<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

   
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

    {{ content_for_head }}
  </head>
  
    <body>
  <main>
    {{ content }}
  </main>

  <footer style="
    background:#222;
    color:#f2f2f2;
    padding:15px 0;
    text-align:center;
    margin-top:40px;
    font-size:14px;
    border-radius:10px;
  ">
    © 2025 Leatile Marc-Olivier Keekae — All Rights Reserved
  </footer>
</body>
</html>
